.block {
    margin-bottom: 30px;
    padding: 27px 30px 27px 60px;

    background-color: white;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.block__inner {
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block__question {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}

.block__answer {
    padding-top: 20px;
    
    display: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #5F6368;
}

.block__answer.active {
    display: block;
}


.block__collapse {
    display: block;
    width: 25px;
    height: 3px;

    background-color: #1A73E8;
    position: relative;
    cursor: pointer;

    transition: transform .1s linear;

}
.block__collapse.active {
    transform: rotate(45deg);
}
.block__collapse::after {
    content: "";
    width: 100%;
    height: 3px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);

    background-color: #1A73E8;
}

@media (max-width: 800px) {
    .block__question, .block__answer {
        font-size: 20px;
    }
}
@media (max-width: 550px) {
    .block {
        padding: 15px 30px 15px 40px;
        margin-bottom: 20px;
    }
    .block__question, .block__answer {
        font-size: 16px;
    }
}
@media (max-width: 420px) {
    .block {
        padding: 15px 12px 15px 12px;
    }
    .block__question, .block__answer {
        font-size: 14px;
    }
}
