.base {
    padding: 10px 0;
}
.subcategories {
    padding: 15px 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    cursor: pointer;

    color: #222222;
}
.backcolor {
    transition: background-color .1s linear;
}
.backcolor:hover {
    background-color: #F7F7F7;
}
.backcolor.select {
    background-color: #e9e5e5;
}
.sub__title {
    padding-left: 15px;
    color: #1A73E8;
}
.sub__count {
    white-space: nowrap;
}
.result {
    display: none;
}


@media (max-width: 700px) {
    .subcategories {
        font-size: 14px;
    }
}
@media (max-width: 550px) {
    .base {
        padding: 0;
    }
    .subcategories {
        padding: 15px 0;
        display: block;
    }
    .sub__title {
        padding-left: 0;
    }
    .sub__count {
        color: #5F6368;
    }
    .result {
        margin-top: 5px;
        margin-right: 5px;
        display: inline-block;
    }
}

