.history {
    width: 34%;
    height: 780px;
    padding: 30px 20px;
    margin-left: 1%;

    background-color: #fff;

}
.history__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    color: #222222;
}
.history__desc {
    margin: 15px 0 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;

    color: #5F6368;
}
.history__content {
    margin: 25px 0;
}

/* ITEM */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 10px;
    border-bottom: 1px solid #F7F7F7;

    cursor: pointer;
}
.item:hover {
    background-color: #F7F7F7;
}
.item__content {
    display: flex;
    align-items: center;
}
.item__content img {
    width: 50px;
}
.item__info {
    margin-left: 12px;
}
.item__name {
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}
.item__result {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #5F6368;

}
.item__image {
    transform: rotate(-90deg);
}

@media (max-width: 1000px) {
    .history {
        display: none;
    }
}