.signin {
    display: flex;
    align-items: center;
    

    width: 100%;
    height: 100vh;
    
}
.signin__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin__image {
    width: 40%;
    margin-right: 15%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    
}
.signin__content {
    width: 30%;
}
.signin__input {
    margin: 15px 0 30px;
}
.signin__check {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check__text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    cursor: pointer;

    color: #3075F3;
}
.error {
    display: block;
    color: #FF564E;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    
    
}
@media screen and (orientation: landscape) and (max-width: 1025px) {
    .signin {
        min-height: 1000px;
    }
}
@media (max-width: 1024px) {
    .signin__image {
        display: none;
    }
    .signin__content {
        width: 50%;
    }
}
@media screen and (orientation: landscape) and (max-width: 800px) {
    .signin {
        min-height: 800px;
    }
}
@media (max-width: 700px) {
    .signin__content {
        width: 65%;
    }
    .signin__input {
        margin: 15px 0;
    }
}
@media (max-width: 500px) {
    .signin__content {
        width: 100%;
    }
}
