.test {
    width: 100%;
    min-height: 100vh;
    
    padding-top: 120px;

    background-color: #F8F9FA;
}
.test__content {
    display: flex;
    padding: 20px 0 100px;

    position: relative;
}