.test {
    width: 100%;
    min-height: 100vh;
    
    padding-top: 120px;

    background-color: #F8F9FA;
}
.test__content {
    display: flex;
    padding: 20px 0 100px;
    flex-wrap: wrap;

    position: relative;
}

@media (max-width: 550px) {
    .test {
        padding-top: 90px;
    }
}

@media (max-width: 450px) {
    .test {
        padding-top: 70px;
    }
}