@import './form-control';
@import './button';
@import './helper';
@import './auth';
@import './image';
@import './sphere';
@import './modal';
@import './subject';



@import './content/content';
@import './content/section1';
@import './content/section2';
@import './content/section3';
@import './content/section4';
@import './content/section5';
@import './content/section6';
@import './content/section7';


@import './detail/subcategories';

@import './test/navigator';
@import './test/question';

@import './profile/avatar';
@import './profile/my-profile';











