.image {
    display: block;
    height: auto;
    margin: 0 auto;

    &__80 {
        width: 80%;
    }
    &__70 {
        margin: 5px auto;
        width: 70%;
    }
    &__50px {
        width: 50px;
        order: 2;
    }
    &__40 {
        width: 40px;
    }
    
}