@import 'variables';

.modal {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: auto;

    background: rgba(17, 50, 85, 0.49);
    font-family: Raleway;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &__inner {
        width: 100%;
        max-width: 600px;
        margin: auto;
        position: relative;
        background-color: $white;

        &-setting {
            padding: 0px 20px 30px;
            max-width: 380px;
        }
        &-ent {
            padding: 0 15px;
            max-width: 740px;
            border-radius: 2px;
        }
    }

    // HEADER
    &__header {

        padding: 20px;
        border-bottom: 2px solid $middle_gray;
        
        &-setting {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 20px 0 0 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;

        color: $black;
    }

    // CONTENT
    &__content {
        padding: 20px;
        border-bottom: 2px solid $middle_gray;

        &-setting {
            margin: 24px 0;
        }
    }

    &__description {
        margin-bottom: 15px;

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: $black;
    }
    &__link {
        text-decoration: underline;
        color: $blue;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        border-radius: 3px;

        padding: 15px 10px;
        cursor: pointer;

        &-image {
            width: 60px;
            margin-right: 10px;

            display: block;
            
        }

        &-name {

            font-size: 15px;
            line-height: 19px;
            color: #fff;
        }
    }

    // FOOTER
    &__footer {
        padding: 20px;

        display: flex;
        justify-content: flex-end;

        a, button {
            width: 150px;
            margin-left: 10px;
        }
    }

    // EMPTY
    &__empty {
        height: 100vh;
    }

    // CLOSE BUTTON
    &__close {
        cursor: pointer;
    }

    // setting
    &__subjects {
        display: flex;
        flex-wrap: wrap;
    }

    &__level {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        cursor: pointer;
        border-bottom: 1px solid #F7F7F7;

        &-pd {
            padding: 15px;
        }

        &-title {
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            font-feature-settings: 'pnum' on, 'lnum' on;

            padding-left: 10px;
        }

        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            font-feature-settings: 'pnum' on, 'lnum' on;

            color: #222222;
        }
    }


    @media (max-width: 600px) {
        &__title {
            font-size: 18px;
            line-height: 21px;
        }

        &__description {
            font-size: 16px;
            line-height: 19px;
        }
    }
}