@import 'variables';

.section2 {
    background-color: $gray;
    padding: 75px 0;

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    // BLOCK
    &__block {
        width: 48.5%;
        margin-right: 3%;
        margin-bottom: 3%;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        &:nth-child(2n) {
            margin-right: 0;
        }

        &-inner {
            padding: 30px 40px;
        }

        @media (max-width: 700px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 5%;
            
        }
    }
}


