.content {
    min-height: 300px;
    height: 75vh;

    
}
.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #222222;
    text-align: center;
}
.description {
    margin: 7px 0;
    font-size: 14px;
    line-height: 16px;

    color: #5F6368;
    text-align: center;
}
.form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.submit {
    width: 100%;
    height: 45px;

    color: #fff;
    background-color: #1A73E8;
}
.info {
    margin-bottom: 15px;
    
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;

    color: #1A73E8;
}