.ent {
    width: 65%;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 3px;
}
.ent__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;

    color: #222222;
}
.ent__desc {
    margin: 15px 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #5F6368;
}

/* PROFILE SUBJECT */
.profile {
    margin-top: 30px;
}
.profile__content {
    display: flex;  
}

.profile__subjects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 32%;
    padding: 30px 20px;
    margin-right: 2%;

    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
}



.noneTitle {
    color: #222;
}
.noneDesc {
    color: #5F6368;
}

/* MANDATORY SUBJECT */
.mandatory__content {
    display: flex;
    justify-content: space-between;
  
}

/* SUBJECT BLOCK */

.subject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 32%;
    padding: 30px 20px;

    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.subject__image {

    margin: 0 auto;
    display: block;
    width: 50px;
}

.subject__name {
    
    margin: 15px 0 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
}
.subject__variant {

    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
}

@media (max-width: 1000px) {
    .ent {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .ent {
        padding: 25px 20px;
    }
    .subject {
        padding: 30px 10px;
    }
    .subject__name {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (max-width: 550px) {
    .ent__title {
        font-size: 16px;
        line-height: 19px;
    }
    .ent__desc {
        margin: 12px 0;
        font-size: 12px;
        line-height: 15px;
    }
    /* PROFILE */
    .profile__content {
        flex-wrap: wrap;
    }
    .profile__subjects {        
        width: 100%;
        padding: 25px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .profile__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 10px;

    }
    /* MANDATORY */
    .mandatory__content {
        flex-wrap: wrap;
    }
    /* SUBJECT */
    .subject {
        padding: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 10px;
    }
    .subject__image {
        margin: 0 0 0 5px;
        order: 2;
    }
    .subject__name {
        text-align: left;
        margin: 0 0 7px 0;
    }
    .subject__variant {
        text-align: left;
    }
}




