.code {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100vh;
}
.code__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.code__image {
    width: 40%;
    margin-right: 15%;
}
.code__image img {
    display: block;
    width: 100%;
    height: auto;
}
.code__content {
    width: 30%;
}
.step {
    margin: 32px 0 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #8D8D8D;
}
.code__desc {
    margin: 20px 0;
    font-weight: 500;
    color: #1A73E8;
    font-size: 14px;
    line-height: 16px;

    font-feature-settings: 'pnum' on, 'lnum' on;
}
.code__repeat {
    color: #1A73E8;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 1024px) {
    .code__image {
        display: none;
    }
    .code__content {
        width: 50%;
    }
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
    .code {
        min-height: 800px;
    }
}
@media (max-width: 700px) {
    .code__content {
        width: 70%;
    }
}
@media (max-width: 500px) {
    .code__content {
        width: 100%;
    }
    .step {
        margin: 20px 0 15px;
    }
}