.answer {
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    border-bottom: 1px solid #F7F7F7;
}
.answer__text {
    font-size: 13px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.answer.active {
    background-color: #EBF0FC;
}

@media (max-width: 550px) {
    .answer {
        padding: 12px 15px;
    }
    .answer__text {
        margin-right: 5px;
        font-size: 12px;
        line-height: 17px;
    }
}
@media (max-width: 450px) {
    .answer {
        padding: 10px;
    }
}