.question {
    padding: 20px 30px;
    margin-top: 15px;

    background-color: #fff;
    border-radius: 3px;
}

.question__number {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}


.question__text {
    margin: 15px 0 20px;

    overflow-x: auto;

    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}
.question__hint {
    margin-top: 25px;

    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #1A73E8;
    cursor: pointer;
}
.question__hint:hover {
    text-decoration: underline;
}
.hint__text {
    padding: 15px;

    font-size: 14px;
    line-height: 21px;
    font-style: italic;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;
}

@media (max-width: 550px) {
    .question {
        padding: 20px;
        margin-top: 5px;
    }
    .question__number {
        font-size: 18px;
        line-height: 21px;
    }
    .question__text {
        font-size: 13px;
        line-height: 16px;
    }
    .question__hint {
        font-size: 12px;
        margin-top: 15px;
    }
    .hint__text {
        padding: 15px 10px;

        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 450px) {
    .question {
        padding: 15px 15px;
    }
    .question__text {
        margin: 12px 0;
    }
}