.modal {
    display: flex;
    width: 100%;
    height: 100vh;

    background: rgba(17, 50, 85, 0.49);
    font-family: Raleway;

    overflow-y: auto;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.ent__modal {
    width: 100%;
    max-width: 740px;
    border-radius: 3px;
    margin: auto;
    padding: 35px 30px 30px;
    position: relative;

    

    background-color: #fff;
}
.modal__title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;

    color: #222222;
}

.modal__close {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #989898;
    cursor: pointer;

    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(45deg);

    transition: transform .1s linear;
}
.modal__close::after {
    content: "";
    width: 100%;
    height: 3px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);

    background-color: #989898;
}

.modal__subjects {
    display: flex;
    flex-wrap: wrap;
}




/* SUBJECT DETAIL */

.subject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    width: 22%;
    margin-right: 3% ;
    padding: 20px 10px;
    border-radius: 4px;
    margin-bottom: 15px;


}
.subject img {
    width: 50px;
    display: block;
    margin: 0 auto;
}
.subject__title {
    margin: 15px;

    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FFFFFF;
}
.subject__button {
    width: 100%;
    height: 30px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #222222;
    background-color: #F7F7F7;
    border-radius: 3px;

    transition: background-color .2s linear;
}

.subject__button:hover {
    background-color: #eceaea;
}


@media (max-width: 700px) {
    /* Modal Header */
    .modal__title {
        font-size: 18px;
        line-height: 21px;

        margin-bottom: 25px;
        text-align: left;
    }
    .modal__close {
        top: 40px;
    }

    /* SUBJECT BLOCK */
    .subject {
        width: 30%;
    }
}

@media (max-width: 550px) {
    .ent__modal {
        padding: 30px 15px 20px;
    }
    .modal__title {
        font-size: 16px;
        padding-right: 50px;
    }
    /* SUBJECT BLOCK */
    .modal__subjects {
        justify-content: space-between;
    }
    .subject {
        width: 49%;
        margin-right: 0;
    }
}