.my-profile {
    width: 68%;
    padding: 0 20px 30px 20px;

    background-color: #fff;
    border-radius: 3px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    &__header {
        padding: 20px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
        color: #222222;
    }

    &__money {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #1A73E8;
    }

    &__hr {
        margin-left: -20px;
        margin-right: -20px;

        height: 1px;
        background-color: #F8F9FA;
    }

    &__content {
        padding: 20px 10px 20px 0;
    }

    &__subtitle {
        margin-bottom: 10px;

        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
    }

    &__block {
        display: flex;
    }

    &__step {
        margin-bottom: 10px;
        margin-left: 12px;

        font-size: 14px;
        line-height: 21px;
        color: #5F6368;
    }

    @media (max-width: 850px) {
        width: 74%;

        &__header {
            padding: 15px 0;
        }
        &__title {
            font-size: 18px;
            line-height: 21px;
        }
    }

    @media (max-width: 700px) {
        &__header {
            display: none;
        }
    }
}