
.subject {
    width: 24%;
    height: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;

    margin-right: 1.3%;
    margin-bottom: 20px;
    padding: 30px 30px 20px;

    transition: opacity .2s linear;
}
.subject:hover {
    opacity: 0.9;
}
.subject:nth-child(4n) {
    margin-right: 0;
}
.subject__inner {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image {
    display: block;
    margin: 0 auto;
    order: 2;
}
.title {
    margin: 10px 0 20px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
}
.text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 0 50px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #fff;    
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: #F7F7F7;

    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #222222;

    transition: all .4s linear;
}
.button:hover {
    background-color: #dfd9d9;
}

@media (max-width: 1125px){
    .subject {
        width: 32%;
        margin-right: 2%;
    }
    .subject:nth-child(3n) {
        margin-right: 0;
    }
    .subject:nth-child(4n) {
        margin-right: 2%;
    }
}

@media (max-width: 856px) {
    .subject {
        height: 320px;
        padding: 30px 20px 20px;
        
    }
    .title {
        font-size: 24px;
        margin: 15px 0 20px 0;
    }
    .text {
        font-size: 12px;
        padding: 0 30px;
    }
}
@media (max-width: 700px) {
    .subject {
        width: 48%;
        margin-right: 4%;
    }
    .title {
        font-size: 18px;
        line-height: 21px;
    }
    .subject:nth-child(3n) {
        margin-right: 4%;
    }
    .subject:nth-child(2n) {
        margin-right: 0;
    }
    
}
@media (max-width: 450px) {
    .subject {
        width: 100%;
        height: 145px;
        padding: 18px 10px;
        margin-right: 0;

        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    }
    .subject:nth-child(3n) {
        margin-right: 0;
    }
    .content {
        display: flex;
        flex-wrap: wrap;  
    }
    .subject__info {
        width: 60%;
    }
    .image {
        width: 30%;
    }
    .title {
        margin: 12px 0;
        
        color: #fff;
    }
    .text {
        font-size: 13px;
        padding: 0 20px;
        color: #fff;
    }
    .button {
        display: none;
    }
}