.section {
    padding: 150px 0;
}
.section__insta {
    display: block;
    font-weight: 600;
    color: #1A73E8;
}
.section__content {
    display: flex;
}
@media (max-width: 800px) {
    .section__content {
        width: 100%;
        max-width: 750px;
        overflow-x: scroll;
    }
}