.section {
    padding: 50px 0;

    background-color:  #1A73E8;
    
}
.section__inner {
    display: flex;
    
    align-items: center;

    padding: 80px 90px;

    background-color: white;
}
.section__image {
    width: 35%;
}
.section__content {
    width: 65%;
    margin-left: 20px;
}
.image {
    margin: 0 auto;
    display: block;
    width: 80%;
    height: auto;
}
.section__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;

    color: #202124;
}
.section__text {
    padding: 30px 0 40px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    color: #5F6368;
}
.section__button {
    padding: 21px 50px;
}

@media (max-width: 800px) {
    .section__title {
        font-size: 28px;
    }
    .section__text {
        font-size: 20px;
    }
    .section__button {
        padding: 18px 50px;
    }
}
@media (max-width: 650px) {
    .section__inner {
        flex-wrap: wrap;
        padding: 60px 40px;
    }
    .section__image {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .section__content {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .section__title {
        font-size: 24px;
    }
    .section__text {
        font-size: 16px;
    }
    .section__button {
        padding: 15px 30px;
    }
}


