.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    height: 75px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.header__inner {
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 75px;
}

/* BACK BUTTON */
.back {
    display: flex;
    align-items: center;
}
.back img {
    width: 20px;
    transform: rotate(90deg);
}
.name {
    margin-left: 5px;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;

    color: #222222;
}
