.block {
    width: 23.5%;
    margin-right: 2%;
    background-color: #F8F9FA;

    border-radius: 3px;
}
.block__inner {
    padding: 53px 47px 53px 60px;
}
.block:last-child {
    margin-right: 0;
}
.block__count {
    font-weight: 600;
    font-size: 38px;
    line-height: 41px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #1A73E8;
}
.block__text {
    margin: 14px 0;

    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #5F6368;
}
.block__desc {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #C2C5CA;
}

@media (max-width: 1100px) {
    .block__inner {
        padding: 40px 30px 40px 40px;
    }
    .block__count {
        font-size: 36px;
        line-height: 38px;
    }
    .block__text {
        font-size: 21px;
        line-height: 26px;
    }
    .block__desc {
        font-size: 21px;
        line-height: 26px;
    }
}
@media (max-width: 868px) {
    .block {
        width: 48.5%;
        margin-right: 3%;
        margin-bottom: 3%;
    }
    .block:nth-child(2n) {
        margin-right: 0;
    }

    .block__count {
        font-size: 48px;
        line-height: 38px;
    }
    .block__text {
        font-size: 28px;
        line-height: 26px;
    }
    .block__desc {
        font-size: 28px;
        line-height: 26px;
    }
}
@media (max-width: 600px) {
    .block__count {
        font-size: 36px;
        line-height: 38px;
    }
    .block__text {
        font-size: 24px;
        line-height: 26px;
    }
    .block__desc {
        font-size: 24px;
        line-height: 26px;
    }
}
@media (max-width: 500px) {
    .block__inner {
        padding: 30px 20px 30px 20px;
    }
    .block__count {
        font-size: 24px;
        line-height: 38px;
    }
    .block__text {
        font-size: 18px;
        line-height: 26px;
    }
    .block__desc {
        font-size: 18px;
        line-height: 26px;
    }
}

