.subjects {
    padding-top: 130px;
    padding-bottom: 80px;
    display: flex;

    width: 100%;
    min-height: 100vh;
    background-color: #F8F9FA;
}
.content__inner {
    display: flex;
    flex-wrap: wrap;
}
.title {
    font-weight: 600;
    font-size: 38px;
    line-height: 44px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #222222;
}
.description {
    font-size: 19px;
    line-height: 24px;

    margin: 20px 0 30px 0;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #5F6368;
}

@media (max-width: 856px) {
    .title {
        font-size: 42px;
    }
    .description {
        font-size: 19px;
        margin: 20px 0 35px 0;
    }
}
@media (max-width: 700px) {
    .subjects {
        padding-top: 110px;
    }
    .title {
        font-size: 34px;
        line-height: 38px;
    }
    .description {
        font-size: 16px;
        line-height: 24px;
        margin: 15px 0 20px 0;
    }
}
@media (max-width: 450px) {
    .subjects {
        padding-top: 90px;
    }
    .title {
        font-size: 24px;
        line-height: 28px;
    }
    .description {
        font-size: 12px;
        line-height: 18px;
    }
}