.timer__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #222222;
}
.time__display {
    margin-top: 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time__text {
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #5F6368;
}
.time__stop {
    position: relative;
    width: 60px;
    height: 40px;
    

    
    border-radius: 3px;
    cursor: pointer;
    background-color: #F7F7F7;

    transition: background-color .2s linear;
}
.time__stop:hover {
    background-color: #e4e4e4;;
}
.button {
    display: block;
    width: 3.2px;
    height: 12px;
    
    position: absolute;
    right: 25px;
    top: 15px;

    background-color: #222222;
    
}
.button::after {
    content: "";
    width: 3.2px;
    height: 100%;

    position: absolute;
    right: 5px;
    top: 0px;

    background-color: #222222;
}

