.activate {
    padding: 0 10px;
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100000;

    background-color: #fff;
}

.activate__inner {
    padding: 10px 20px;
    margin:  20px auto;
    width: 100%;
    max-width: 400px;
    

    background-color: #F7F7F7;
}
.activate__desc {
    margin-bottom: 20px;
    
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}
.button {
    width: 100%;
    height: 40px;

    background-color: #1A73E8;
    color: #fff;
}