.content {
    width: 65%;
}
.group__text {
    margin: 20px 0 -20px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    background-color: #fff;
    color: #222222;
    border-radius: 4px;
}

.subject__name {
    margin-top: 15px;
    margin-bottom: -10px;
    padding: 20px 30px;

    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    border-radius: 4px;
    color: #fff;

    
}

/* BREAK BANNER */
.banner {
    display: flex;
    align-items: center;

    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: -15px;

    height: 50px;

    font-size: 16px;
    line-height: 19px;
    

    color: #fff;
    border-radius: 5px;

}

@media (max-width: 1000px) {
    .content {
        order: 2;
        width: 100%;
    }
}

@media (max-width: 550px) {
    .banner {
        margin-bottom: -5px;
    }
}