.basic {
    margin-bottom: 100px;
}
/* ACCOUNT DETAIL MOBILE */
.accound__mobile {
    margin-top: 20px;
}
.account__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;

    color: #222222;
}
.group {
    margin-top: 15px;
}
.mobile__label {
    font-size: 16px;
    line-height: 19px;

    color: #5F6368;
}
.mobile__input {
    margin-top: 5px;
    padding: 0 15px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #5F6368;
    border-radius: 3px;
    border: 0.5px solid #1A73E8;
    background-color: #EFF7FE;
}
.mobile__input img {
    transform: rotate(-90deg);
}

/* PERSONAL DATA MOBILE */
.personal__title {
    margin: 20px 0;

    font-weight: 600;
    font-size: 26px;
    line-height: 29px;

    color: #222222; 
}
.submit {
    width: 100%;
    height: 45px;

    color: #fff;
    border-radius: 3px;
    background-color: #1A73E8;
}

@media (max-width: 500px) {
    /* ACCOUNT DETAIL */
    .account__title {
        font-size: 18px;
        line-height: 21px;
    }
    .mobile__label {
        font-size: 12px;
        line-height: 15px;
    }

    /* PERSONAL DATA */
    .personal__title {
        font-size: 18px;
        line-height: 21px;
    }
}