.my {
    width: 68%;
    padding: 0 20px 30px 20px;

    background-color: #fff;
    border-radius: 3px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.header {
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.money {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #1A73E8;
}
.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #222222;
}
.hr {
    margin-left: -20px;
    margin-right: -20px;

    height: 1px;
    background-color: #F8F9FA;
}
.content {
    padding: 15px 0;
}
.content_wallet {
    padding: 20px 20px 20px 0;
}

/* Account details */
.account__details {
    display: block;
}

.form__groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.submit {
    margin-top: -10px;

    float: right;

    width: 120px;
    height: 35px;

    color: #fff;
    border-radius: 3px;
    background-color: #1A73E8;

    transition: background-color .2s linear;
}
.submit:hover {
    background-color: #174EA6;
}
.description__block {
    display: flex;
}
.description__block img {
    display: block;
    width: 40%;
    height: auto;
    margin-right: 12px;
}
.step {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 19px;
    color: #5F6368;
}

@media (max-width: 850px) {
    .my {
        width: 74%;
    }
    .title {
        font-size: 18px;
        line-height: 21px;
    }
    .header {
        padding: 15px 0;
    }
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
}
