.question {
    padding: 20px 30px;
    margin-top: 15px;

    background-color: #fff;
    border-radius: 3px;

    &.is-group {
        margin-bottom: -15px;
    }


    &__number {
        font-weight: 700;
        font-size: 21px;
        line-height: 26px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #222222;
    }
    &__text {
        margin: 15px 0 20px;

        overflow-x: auto;

        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #222222;
        
        table {
            margin-top: 5px;
        }

        table, th, td {
            border-collapse: collapse;
            padding: 5px;
            border: 1px solid black;
        }
    }
    &__hint {
        margin-top: 25px;

        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #1A73E8;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }


        &-text {
            display: none;
            padding: 15px;

            font-size: 14px;
            line-height: 21px;
            font-style: italic;
            font-feature-settings: 'pnum' on, 'lnum' on;

            color: #333333;

            &.active {
                display: block;
            }
        }
    }

    @media (max-width: 550px) {
        padding: 20px;
        margin-top: 5px;

        &__number {
            font-size: 18px;
            line-height: 21px;
        }
        &__text {
            font-size: 13px;
            line-height: 16px;
        }
        &__hint {
            font-size: 12px;
            margin-top: 15px;

            &-text {
                padding: 15px 10px;

                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    @media (max-width: 450px) {
        padding: 15px 15px;

        &__text {
            margin: 12px 0;
        }
    }
}