.header {
    height: 90px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: #fff;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    
}
.image {
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER NAVBAR */
.header__nav {
    display: flex;
    justify-content: space-between;
}
.full__width {
    width: 100%;
}
.nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}
.nav__link {
    padding-right: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #C2C5CA;

    transition: color .1s linear;
}
.nav__link:last-child {
    padding-right: 0;
}

.active {
    color: #1A73E8;   
}
/* HEADER LAST */
.last {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.last__lang {
    margin-right: 40px;
}
.lang__link {
    padding-right: 5px;
    font-size: 16px;
    font-weight: 500;

    color: #C2C5CA;
}
.lang__link:last-child {
    padding-right: 0;
}
/* AUTH */
.signup {
    padding-right: 35px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;

    color: #3075F3;
}

/* HEADER__TOGGLE */
.header__toggle {
    width: 50px;
    display: none;

    font-size: 0;
    color: transparent;
    background: none;
    cursor: pointer;

    position: relative;
}
.toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #222222;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}
.toggle__item::after, .toggle__item::before {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #222222;
    position: absolute;
    left: 0;

    transition: transform .2s linear;
}
.toggle__item::after {
    top: 12px;
}
.toggle__item::before {
    top: -12px;
}


/* PROFILE */
.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile__name {
    margin-right: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #222222;
}
.profile__icons {
    color: #A1A4AA;
}
.rotate {
    transform: rotate(180deg);
}


@media (max-width: 900px) {
    .header__nav {
        display: none;
        width: 100%;
        padding: 0 15px;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        
        
        background-color: white;
    }
    .profile {
        display: none;
    }
    .header__nav.active {
        display: block;
        
    }
    
    
    .header__toggle {
        display: block;
    }
    .nav, .last, .nav__link {
        display: block;
    }
    .nav__link {
        padding-right: 0;
        margin-top: 30px;
        font-size: 20px;
    }
    .last__lang {
        margin: 30px 0;
        font-size: 20px;
        margin-right: 0;
    }
    .last__auth {
        display: flex;
        flex-wrap: wrap;
    }
    .change__lang {
        display: none;
    }
    .signup {
        width: 80%;
        padding: 15px 0;
        margin: 0 auto;
        

        color: #222222;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        background-color: #F7F7F7;
    }
    .signin {
        width: 80%;
        padding: 15px 0;
        margin: 20px auto;
        text-align: center;
    }

    .header__toggle.active .toggle__item {
        background: none;
    }
    .header__toggle.active .toggle__item::before {
        transform-origin: left top;
        transform: rotate(45deg) translate3d(0, -8px, 0);
    }
    .header__toggle.active .toggle__item::after {
        transform-origin: left bottom;
        transform: rotate(-45deg) translate3d(0, 8px, 0);
    }
    

}

@media (max-width: 540px) {
    .header__nav {
        height: 100vh;  
    }
    
    .signup, .signin {
        width: 100%;
    }
    .header, .header__inner {
        height: 70px;
    }
    .header__toggle {
        width: 35px;
    }
    .toggle__item::after {
        top: 10px;
    }
    .toggle__item::before {
        top: -10px;
    }
    .header__toggle.active .toggle__item::before {
        transform: rotate(45deg) translate3d(0, -3px, 0);
    }
    .header__toggle.active .toggle__item::after {
        transform: rotate(-45deg) translate3d(0, 3px, 0);
    }
    
}

@media (max-width: 440px) {
    
    .header, .header__inner {
        height: 55px;
    }
    .header__toggle {
        width: 30px;
    }
    .toggle__item::after {
        top: 8px;
    }
    .toggle__item::before {
        top: -8px;
    }
    
}