.account__details {
    display: block;
    margin: 10px 0 20px;
}
.sub__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}
.form__groups {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button {
    margin-top: -10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-end;
}
.submit {
    width: 120px;
    height: 35px;

    color: #fff;
    border-radius: 3px;
    background-color: #1A73E8;

    transition: background-color .2s linear;
}
.submit:hover {
    background-color: #174EA6;
}


/* Account Details */
.group {
    display: block;
    width: 49%;
}
.mobile__label {
    font-size: 12px;
    line-height: 15px;

    color: #5F6368;
}

.mobile__input {
    margin-top: 3px;
    padding: 0 15px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #5F6368;
    border-radius: 5px;
    border: 0.5px solid #5F6368;
    background-color: #EFF7FE;
}
.change__text {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;

    font-size: 12px;
    cursor: pointer;
    color: #1A73E8;
}
.change__text:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .sub__title {
        font-size: 14px;
        line-height: 17px;
    }
}