/* .section__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    height: 100vh;
} */
/* .section__content{
    width: 40%;
}
.section__image {
    width: 50%;
} */

/* .section__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #202124;
}
.section__text {
    margin: 35px 0;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;

    color: #5F6368;
} */
/* .section__blocks {
    display: flex;
    align-items: center;
} */

/* .image {
    margin: 0 auto;
    display: block;
    width: 80%;
    height: auto;
} */

/* .scroll {
    position: absolute;
    bottom: 10px;
    left: 50%; 
} */


/* @media screen and (orientation: landscape) and (max-width: 1025px) {
    .section__inner {
        min-height: 1500px;
    }
} */

/* @media(max-width: 1025px) {
    
    .section__inner {
        flex-wrap: wrap;
    }
    .section__content {
        width: 100%;
        order: 2;
    }
    .section__image {
        order: 1;
        padding-top: 70px;
        width: 95%;
        margin: 0 auto;
    }
    .section__title {
        font-size: 62px;
        line-height: 62px;
    }
    .section__text {
        font-size: 32px;
        line-height: 36px;
    }
} */

/* @media screen and (orientation: landscape) and (max-width: 800px) {
    .section__inner {
        min-height: 1200px;
    }
} */

/* @media (max-width: 768px) {
    
    .section__title {
        font-size: 52px;
        line-height: 56px;
    }
    .section__text {
        font-size: 24px;
        line-height: 28px;
    }
    .scroll {
        display: none;
    }
} */

/* @media (max-width: 540px) {
    .section {
        margin-top: 15px;
    }
    .section__image {
        width: 80%;
    }
    .section__title {
        font-size: 38px;
        line-height: 44px;
    }
    .section__text {
        margin: 20px 0;
        font-size: 18px;
        line-height: 24px;
    }
    
} */
/* @media (max-width: 450px) {
    .section__image {
        width: 100%;
    }
    .section__title {
        font-size: 24px;
        line-height: 32px;
    }
    .section__text {
        font-size: 16px;
        line-height: 22px;
    }
    .section__blocks {
        flex-wrap: wrap;
    }
    .start__button {    
        width: 100%;
        padding: 20px 22px;

        margin-right: 0;
        margin-bottom: 20px;

        text-align: center;  
    }
} */
