.section__inner {
    display: flex;
    align-items: center;

    position: relative;

    height: 100vh;
}
.section__content, .section__image {
    width: 50%;
}
.section__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 54px;
    color: #202124;
}
.section__text {
    margin: 35px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #5F6368;
}
.section__blocks {
    display: flex;
    align-items: center;
}
.start__button {
    padding: 18px 50px;
    margin-right: 40px;
}
.start__video {
    display: flex;
    align-items: center;
}
.video__text {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;


    color: #5F6368;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.scroll {
    position: absolute;
    bottom: 10px;
    left: 50%; 
}
@media screen and (orientation: landscape) and (max-width: 1025px) {
    .section__inner {
        min-height: 1500px;
    }
}

@media(max-width: 1025px) {
    
    .section__inner {
        flex-wrap: wrap;
    }
    .section__content {
        width: 100%;
        order: 2;
    }
    .section__image {
        order: 1;
        padding-top: 70px;
        width: 95%;
        margin: 0 auto;
    }
    .section__title {
        font-size: 62px;
        line-height: 62px;
    }
    .section__text {
        font-size: 32px;
        line-height: 36px;
    }
}
@media screen and (orientation: landscape) and (max-width: 800px) {
    .section__inner {
        min-height: 1200px;
    }
}

@media (max-width: 768px) {
    
    .section__title {
        font-size: 52px;
        line-height: 56px;
    }
    .section__text {
        font-size: 24px;
        line-height: 28px;
    }
    .scroll {
        display: none;
    }
}

@media (max-width: 540px) {
    .section {
        margin-top: 15px;
    }
    .section__image {
        width: 80%;
    }
    .section__title {
        font-size: 38px;
        line-height: 44px;
    }
    .section__text {
        margin: 20px 0;
        font-size: 18px;
        line-height: 24px;
    }
    .start__button {
        padding: 15px 40px;
        margin-right: 30px;
    }
    .video__text {
        font-size: 16px;
    }
    
}
@media (max-width: 450px) {
    .section__image {
        width: 100%;
    }
    .section__title {
        font-size: 24px;
        line-height: 32px;
    }
    .section__text {
        font-size: 16px;
        line-height: 22px;
    }
    .section__blocks {
        flex-wrap: wrap;
    }
    .start__button {
        width: 100%;
        padding: 20px 22px;

        margin-right: 0;
        margin-bottom: 20px;

        text-align: center;  
    }
    .start__video {
        margin: 0 auto;
    }
    .video__text {
        font-size: 14px;

    }
}
