.signup {
    display: flex;
    align-items: center;

    width: 100%;
    height: 125vh;

}
.signup__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup__image {
    width: 42%;
    margin-right: 10%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.signup__content {
    width: 30%;
}
.signup__input {
    margin: 15px 0 30px;
}
.error {
    display: block;
    color: #FF564E;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
    
    
}

@media screen and (orientation: landscape) and (max-width: 1025px) {
    .signup {
        min-height: 1000px;
    }
}
@media (max-width: 1024px) {
    .signup {
        height: 100vh;
    }
    .signup__image {
        display: none;
    }
    .signup__content {
        width: 50%;
    }
}
@media (max-width: 700px) {
    .signup {
        height: 110vh;
    }
    .signup__content {
        width: 65%;
    }
    .signup__input {
        margin: 15px 0;
    }
}

@media (max-width: 500px) {
    .signup {
        height: 120vh;
    }
    .signup__content {
        width: 100%;
    }
}