.header {
    margin-top: 120px;
    padding: 50px 0 50px 60px;
    border-radius: 3px;
}
.header__inner {
    display: flex;
    align-items: center;

}
.header__image {
    display: block;
    width: 100px;
    height: 100px;
}
.header__content {
    margin-left: 35px;
}
.header__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.header__info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.header__start__button {
    width: 240px;
    height: 55px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    color: #222222;
    background-color: #FFFFFF;
    transition: background-color .2s linear;
}
.header__start__button:hover {
    background-color: #F7F7F7;
}
.header__setting__button {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;

    
}
.setting__text {
    margin-left: 10px;
    color: #FFFFFF;

}
.header__setting__button:hover .setting__text{
    border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 720px) {
    .header {
        padding: 50px 20px 50px 20px;  
    }
    .header__image {
        display: none;
    }
    .header__content {
        margin-left: 0;
    }
   
}

@media(max-width: 550px) {
    .header {
        padding: 30px 20px 30px 20px;
    }
    .header__title {
        font-size: 28px;
        line-height: 28px;
    }
    .header__info {
        flex-wrap: wrap;
    }
    .header__content {
        width: 100%;
    }
    .header__start__button {
        margin: 0 0 15px;

        width: 100%;
        height: 50px;
        
    }
    .header__setting__button {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .header {
        margin-top: 100px;
    }
    .header__title {
        text-align: left;
    }
    .header__setting__button {
        justify-content: center;
    }
}