.block {
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 3%;

    background-color: white;
    border-radius: 3px;
}
.block__inner {
    padding: 50px 55px;
}
.block:nth-child(2n) {
    margin-right: 0;
}

.block__step {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #1A73E8;
}
.block__title {
    padding: 40px 0 14px;

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #222222;
}
.block__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #5F6368;
}

@media (max-width: 900px) {
    .block__inner {
        padding: 35px 40px;
    }
    .block__step {
        font-size: 42px;
    }
    .block__title {
        padding: 25px 0 14px;
        font-size: 32px;
    }
    .block__text {
        font-size: 22px;
    }
}
@media (max-width: 700px) {
    .block__inner {
        padding: 35px 30px;
    }
    .block__step {
        font-size: 38px;
    }
    .block__title {
        padding: 25px 0 14px;
        font-size: 28px;
    }
    .block__text {
        font-size: 20px;
    }
}
@media (max-width: 700px) {
    .block {
        width: 100%;
        margin-right: 0;
    }
    .block__step{
        font-size: 28px;
        text-align: center; 
    }
    .block__title {
        font-size: 24px;
        text-align: center;
    }
    .block__text {
        font-size: 16px;
        text-align: center;
    }
}