.pause {
    padding: 30px 60px;
    margin: 0 auto;

    width: 100%;
    max-width: 500px;
    background-color: #fff;

    font-family: Raleway;
}
.pause__iamge {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
}
.pause__info {
    margin: 25px 0;
    text-align: center;
}
.pause__text {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    
    color: #222222;
}
.pause__result, .pause__timer {

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #5F6368;
}


@media (max-width: 500px) {
    .pause {
        margin-top: 50px;
    }
    .pause__text {
        font-size: 18px;
        line-height: 21px;
    }
}