.bottom__border {
    border-bottom: 1px solid #F7F7F7;
}
.categories {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
    cursor: pointer;

}
.categories__flex {
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.categories__counts {
    white-space: nowrap;
}

.categories__image.active {
    transform: rotate(180deg);
}
.result {
    display: none;
}

@media (max-width: 700px) {
    .categories {
        font-size: 14px;
    }
}
@media (max-width: 550px) {
    .categories {
        padding: 15px 0;
        align-items: baseline;
    }
    .categories__flex {
        display: block;
    }
    .categories__counts {
        color: #5F6368;
        margin-top: 5px;
    }
    .result {
        display: inline-block;
        margin-right: 10px;
    }
}

