.content {
    width: 65%;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 3px;

}

.content__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #222222;
}
.content__desc {
    margin: 15px 0 20px;

    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #5F6368;
}

/* Table categories */
.table__header {
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5F6368;

    background-color: #EBF0FC;;
}
.table__flex {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .content {
        width: 100%;
    }
}

@media(max-width: 700px) {
    .content__title {
        font-size: 21px;
        line-height: 26px;
    }
    .content__desc {
        font-size: 15px;
        line-height: 18px;
    }
    .table__header {
        font-size: 15px;
    }
}
@media (max-width: 550px) {
    .content {
        padding: 20px 20px;
    }
    .content__title {
        font-size: 18px;
        line-height: 24px;
    }
    .content__desc {
        margin: 15px 0;
        font-size: 14px;
    }
    .table__header {
        display: none;
    }
   
}
