.content {
    width: 65%;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 3px;

}

.content__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
}
.content__desc {
    margin: 20px 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #5F6368;
}

/* Table categories */
.table__header {
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5F6368;

    background-color: #EBF0FC;;
}
.table__flex {
    width: 75%;
    display: flex;
    justify-content: space-between;
}
