.forgot {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100vh;
    
}
.forgot__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot__image {
    width: 40%;
    margin-right: 10%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.forgot__content {
    width: 30%;
}
.forgot__step {
    margin: 32px 0 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #8D8D8D;
}
.error {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;

    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1A73E8;
}

@media (max-width: 1024px) {
    .forgot__image {
        display: none;
    }
    .forgot__content {
        width: 50%;
    }
}
@media (max-width: 700px) {
    .forgot__content {
        width: 65%;
    }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
    .forgot {
        min-height: 800px;
    }
}
@media (max-width: 500px) {
    .forgot__step {
        margin: 20px 0 15px;
    }
    .forgot__content {
        width: 100%;
    }
}