.navigator {
    padding: 20px 30px 55px;
    height: 700px;
    margin-top: 15px;
    overflow: auto;

    border-radius: 3px;
    background-color: #fff;

    position: sticky;
    top: 65px;
    right: 0;
}
.navigator__title {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    color: #222222;
}

/* NAV SUBJECT HEADER */
.nav__subject__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    cursor: pointer;
}
.nav__subject__header:hover {
    background-color: #F7F7F7;
}

.nav__subject__arrow {
    display: flex;
}
.nav__subject__image {
    display: block;
    width: 45px;
    height: 45px;
}
.nav__subject__info {
    margin-left: 8px;
    font-weight: 500;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.info__name {
    font-size: 14px;
    line-height: 16px;
    
    color: #222222;
}
.info__result {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;

    color: #5F6368;
}
/* SQUARE BLOCKS */
.square__blocks {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px 10px;
}
.block {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    background-color: #F7F7F7;
    cursor: pointer;
}