.control {
    padding: 20px 30px 55px;
    width: 33%;
    height: 700px;
    margin-left: 2%;
    margin-top: 15px;
    overflow: auto;

    position: sticky;
    top: 65px;
    right: 0;


    border-radius: 3px;
    background-color: #fff;
}
.listOfSubject {
    padding: 20px 0 20px;
}
.listOfSubject.active {
    display: block;
}
.finish__button {
    width: 100%;
    height: 40px;

    font-weight: 600;
    font-size: 15px;
    line-height: 19px;

    border-radius: 3px;
    color: #222222;
}

@media (max-width: 1000px) {
    .control {
        padding: 0 20px;
        margin-left: 0;
        width: 100%;
        height: auto;

        top: 73px;
        border-top: 10px solid #F8F9FA;
        border-bottom: 10px solid #F8F9FA;

        order: 1;
    }
    .listOfSubject {
        padding: 5px 0;
        display: none;
    }
    .finish__button {
        display: none;
    }
    
}
@media (max-width: 550px) {
    .control {
        top: 70px;
        margin-top: 0;
    }
    .listOfSubject {
        margin-top: 15px;
        padding-bottom: 10px;
    }
}
@media (max-width: 450px) {
    .control {
        top: 55px;
    }
}