.ques {
    padding: 20px 30px;
    margin-top: 15px;

    background-color: #fff;
    border-radius: 3px;
}
.ques__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ques__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}
.ques__save {
    color: #EBEBEB;
    cursor: pointer;
    
}
.ques__save.active {
    color: #FFCE46;
}
.ques__text {
    margin: 20px 0 30px;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}
.ques__hint {
    display: inline-block;
    margin-top: 25px;
    

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #1A73E8;
    cursor: pointer;
}
.ques__hint:hover {
    text-decoration: underline;
}
.hint_text {
    display: none;
    padding: 20px 15px;

    font-size: 16px;
    line-height: 21px;
    font-style: italic;

    color: #333333;
}
.hint_text.hintActive {
    display: block;
}