.ques {
    padding: 20px 30px;
    margin-top: 15px;

    background-color: #fff;
    border-radius: 3px;
}
.is_group {
    margin-bottom: -15px;
}
.ques__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ques__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}
.ques__save {
    color: #EBEBEB;
    cursor: pointer;
    
}
.ques__save.active {
    color: #FFCE46;
}
.ques__text {
    margin: 20px 0 30px;

    overflow-x: auto;

    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #222222;
}

.ques__hint {
    display: inline-block;
    margin-top: 25px;
    

    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #1A73E8;
    cursor: pointer;
}
.ques__hint:hover {
    text-decoration: underline;
}
.hint_text {
    display: none;
    padding: 20px 15px;

    font-size: 14px;
    line-height: 21px;
    font-style: italic;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;
}
.hint_text.hintActive {
    display: block;
}

@media (max-width: 550px) {
    .ques {
        padding: 20px 20px;
        margin-top: 5px;
    }
    .ques__title {
        font-size: 18px;
    }
    .ques__text {
        font-size: 13px;
        line-height: 16px;
    }
    .ques__hint {
        font-size: 12px;
        margin-top: 20px;
    }
    .hint_text {
        padding: 15px 10px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 450px) {
    .ques {
        padding: 15px 15px;
    }
    .ques__text {
        margin: 12px 0;
    }
}