* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}a:hover {text-decoration: none;}ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}


/* container */
.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto; 
  font-family: Raleway;
}
/* button */
.button {
  font-family: Raleway;
  font-weight: 600;
  font-size: 16px;

  padding: 11px 36px;
  color: white;

  border-radius: 3px  ;
  background-color: #1A73E8;
  transition: background-color .2s linear;
}
.button:hover {
  background-color: #174EA6;
}
/* section title and text */
.section__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;

  color: #222222;
}
.section__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  margin: 30px 0 50px 0;

  color: #5F6368;
}
.text__center {
  text-align: center;
}

/* title__auth */
.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #222222;
}
/* submit__button */
.submit {
  width: 100%;
}
.facebook {
  width: 100%;
  background-color: #4267B2;
  margin-bottom: 10px;
}
.google {
  width: 100%;
  color: #222222;
  background-color: #F7F7F7;
}
.google img, .facebook img {
  margin-right: 10px;
}
.facebook:hover {
  background-color: #4267B2;
}
.google:hover {
  background-color:  #F7F7F7;
}
/* helper__text */
.helper__text {
  margin: 17px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-align: center;

  color: #5F6368;

}

@media (max-width: 900px) {
  .section__title, .section__text {
    text-align: center;
  }
  br {
    display: none;
  }
}
@media (max-width: 700px) {
  .facebook, .google {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
  }
  .helper__text {
    margin: 13px 0;
  }
}

@media (max-width: 540px) {
  .button {
    font-size: 14px;
  }
  .section__title {
    font-size: 34px;
    line-height: 40px;
  }
  .section__text {
    font-size: 20px;
  }
  .facebook, .google {
    font-size: 12px;
  }
  
}
@media (max-width: 420px) {
  .button {
    font-size: 13px; 
  }
}
