$black: #222222;
$middle_gray: #dfd9d9;
$dark_gray: #5F6368;

$blue: #1A73E8;
$dark_blue: #174EA6;

$white: #FFFFFF;
$gray: #F8F9FA;

$input_background: #EFF7FE;
$button_bg: #F7F7F7;

$error_color: #FF564E;


$duration: .2s;