.modal {
    display: flex;
    width: 100%;
    height: 100vh;

    overflow: auto;

    background: rgba(17, 50, 85, 0.49);
    font-family: Raleway;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.modal__inner {
    width: 100%;
    max-width: 350px;
    border-radius: 3px;
    margin: auto;
    padding: 30px 15px 10px;
    position: relative;

    background-color: #fff;
}

.title {
    margin-bottom: 20px;
    
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.desc {
    margin-bottom: 10px;
    
    text-align: center;
    font-size: 14px;
    line-height: 19px;

    color: #222;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;

    color: #fff;
    border-radius: 4px;
    transition: background-color .2s linear;
    background-color: #5F6368;

}
/* Content */
.content {
    height: 100vh;
}