.history {
    display: flex;

    width: 100%;
    min-height: 100vh;

    background-color: #F8F9FA;  
}

.history__inner {
    font-size: 21px;
    color: black;
}

/* CONTENT */
.content {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 100px;
}
.question__content {
    width: 65%;
}

/* NAVIGATOR */
.question__navigator {
    width: 34%;

    position: sticky;
    top: 65px;
    right: 0;
}
/* GROUP QUESTION */
.group__question {
    margin: 20px 0 -20px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    overflow: auto;

    background-color: #fff;
    color: #222222;
    border-radius: 4px;
}

@media (max-width: 1000px) {
    .content {
        flex-wrap: wrap;
    }
    .question__content {
        order: 2;
        width: 100%;
    }
    .question__navigator {
        order: 1;
        width: 100%;
        
    }
}
@media (max-width: 550px) {
    .group__question {
        padding: 20px;

        font-size: 13px;
        line-height: 16px;
    }
}

@media (max-width: 440px) {
    .question__navigator {
        top: 52px;
    }
}