.block {
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 3%;
    background-color: white;
}
.block:nth-child(2n) {
    margin-right: 0;
}
.block__inner {
    padding: 30px 40px;
}
.block__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;

    color: #222222;
}
.block__text {
    padding: 20px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #5F6368;
}
.image {
    margin: 5px auto;
    display: block;
    width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    .block__title {
        font-size: 28px;
        line-height: 36px;
    }
    .block__text {
        font-size: 16px;
        padding: 15px 0 30px;
    }
}

@media (max-width: 700px) {
    .block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    .block__title {
        font-size: 32px;
    }
    .block__text {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .block__title {
        font-size: 24px;
    }
    .block__text {
        font-size: 16px;
    }
}

