.confirm {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100vh;
}
.confirm__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}
.confirm__image {
    width: 40%;
    margin-right: 15%;
}
.confirm__image img {
    margin: 0 auto;

    display: block;
    width: 80%;
    height: auto;
}

.confirm__content {
    width: 29%;
    
}
.step {
    margin: 20px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #8D8D8D;
}

.loader {
    height: 19px;
}

@media (max-width: 1024px) {
    .confirm__image {
        display: none;
    }
    .confirm__content {
        width: 50%;
    }
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
    .confirm {
        min-height: 800px;
    }
}
@media (max-width: 700px) {
    .confirm__content {
        width: 65%;
    }
}
@media (max-width: 500px) {
    .confirm__content {
        width: 100%;
    }
    .step {
        margin: 20px 0 15px;
    }
}